* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#container-principal {
    border-radius: 10px;
    display: flex;
}

.container-interno-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-interno-1 input {
    width: 200px;
    height: 50px;
    font-size: 32px;
    text-align: center;
}

.container-interno-1 button {
    padding: 20px;
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
    background-color: #F7F7F7;
    cursor: pointer;
}

.container-interno-1 button:hover {
    background-color: #FFB22C;
}